<!DOCTYPE html>
<html ng-app="">

  <head>
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
  <div id="container">
  <div id="heading">
        <img id="left-logo" src="images/mad-lib-happy-face.png">
        <img id="right-logo" src="images/ng-mad-libs-logo.png" <br> <h1>Automate this!</h1> 

        </div>
<div class="middle">
    <h2>Provide the fallowing words:</h2>

   <input type="text" ng-model="female_name" />
 <input type="text" ng-model="job_title" />
 <input type="text" ng-model="tedious_task" />
 <input type="text" ng-model="dirty_task" />
 <input type="text" ng-model="celeberity" />
<input type="text" ng-model="useless_skill" />
 <input type="text" ng-model="obnoxiuous_celbertity" />
<input type="text" ng-model="huge_number" />
<input type="text" ng-model="adjective" />
    </div>
    <div class="content">
  <p> {{ female_name }} was a  {{ job_title }}  who loved technology.Although she loved parts of her job, she absolutely hated   {{ tedious_task }} and {{ dirty_task }}
  So, {{ female_name }} met with her life mentor {{ celebrity }} who told her to learn how to {{ useless_skill }} with Thinkful. Thinkful didn't offer a course on {{ useless_skill }} so she studied programming instead. 
 
What a great decision! With her new skills, {{ female_name }} built a(n) {{ adjective }} robot named {{ obnoxiuous_celbertity }} that not only loved {{ dirty_task }} but did it {{ huge_number }} faster. </p> 
</div>
   </div>
  </body>

</html>
/